<h5 class="i18n" data-fr="Résumés" data-en="Abstracts">Abstracts</h5>

<!-- Abstract 1 -->
<h6>Presenter Name 1</h6>
<p>
  <strong>School:</strong> School Name 1<br>
  <strong>Title:</strong> Title of Talk 1
</p>
<p class="text-left">
  Abstract for talk 1 goes here. You can write the complete abstract
  describing the content of the presentation.
</p>

<!-- Abstract 2 -->
<h6>Presenter Name 2</h6>
<p>
  <strong>School:</strong> School Name 2<br>
  <strong>Title:</strong> Title of Talk 2
</p>
<p class="text-left">
  Abstract for talk 2 goes here. You can write the complete abstract
  describing the content of the presentation.
</p>

<!-- Abstract 3 -->
<h6>Presenter Name 3</h6>
<p>
  <strong>School:</strong> School Name 3<br>
  <strong>Title:</strong> Title of Talk 3
</p>
<p class="text-left">
  Abstract for talk 3 goes here. You can write the complete abstract
  describing the content of the presentation.
</p>

<!-- Abstract 4 -->
<h6>Presenter Name 4</h6>
<p>
  <strong>School:</strong> School Name 4<br>
  <strong>Title:</strong> Title of Talk 4
</p>
<p class="text-left">
  Abstract for talk 4 goes here. You can write the complete abstract
  describing the content of the presentation.
</p>

<!-- Abstract 5 -->
<h6>Presenter Name 5</h6>
<p>
  <strong>School:</strong> School Name 5<br>
  <strong>Title:</strong> Title of Talk 5
</p>
<p class="text-left">
  Abstract for talk 5 goes here. You can write the complete abstract
  describing the content of the presentation.
</p>

<!-- Abstract 6 -->
<h6>Presenter Name 6</h6>
<p>
  <strong>School:</strong> School Name 6<br>
  <strong>Title:</strong> Title of Talk 6
</p>
<p class="text-left">
  Abstract for talk 6 goes here. You can write the complete abstract
  describing the content of the presentation.
</p>

<!-- Abstract 7 -->
<h6>Presenter Name 7</h6>
<p>
  <strong>School:</strong> School Name 7<br>
  <strong>Title:</strong> Title of Talk 7
</p>
<p class="text-left">
  Abstract for talk 7 goes here. You can write the complete abstract
  describing the content of the presentation.
</p>
