<h5 class="i18n" data-fr="Résumés" data-en="Abstracts">Résumés</h5>

<!-- Abstract 1 -->
<h6>Étienne Larrivée</h6>
<p>
  <strong class="i18n" data-fr="Entreprise " data-en="Company">École</strong>: Co-operators<br>
  <strong class="i18n" data-fr="Titre " data-en="Title">Titre</strong>: ???
</p>
<p class="text-left">
  Résumé de la présentation 1.
</p>

<!-- Abstract 2 -->
<h6>Nom du présentateur 2</h6>
<p>
  <strong class="i18n" data-fr="École" data-en="School">École</strong>: Nom de l'école 2<br>
  <strong class="i18n" data-fr="Titre" data-en="Title">Titre</strong>: Titre de la présentation 2
</p>
<p class="text-left">
  Résumé de la présentation 2.
</p>

<!-- Abstract 3 -->
<h6>Nom du présentateur 3</h6>
<p>
  <strong class="i18n" data-fr="École" data-en="School">École</strong>: Nom de l'école 3<br>
  <strong class="i18n" data-fr="Titre" data-en="Title">Titre</strong>: Titre de la présentation 3
</p>
<p class="text-left">
  Résumé de la présentation 3.
</p>

<!-- Abstract 4 -->
<h6>Nom du présentateur 4</h6>
<p>
  <strong class="i18n" data-fr="École" data-en="School">École</strong>: Nom de l'école 4<br>
  <strong class="i18n" data-fr="Titre" data-en="Title">Titre</strong>: Titre de la présentation 4
</p>
<p class="text-left">
  Résumé de la présentation 4.
</p>

<!-- Abstract 5 -->
<h6>Nom du présentateur 5</h6>
<p>
  <strong class="i18n" data-fr="École" data-en="School">École</strong>: Nom de l'école 5<br>
  <strong class="i18n" data-fr="Titre" data-en="Title">Titre</strong>: Titre de la présentation 5
</p>
<p class="text-left">
  Résumé de la présentation 5.
</p>

<!-- Abstract 6 -->
<h6>Nom du présentateur 6</h6>
<p>
  <strong class="i18n" data-fr="École" data-en="School">École</strong>: Nom de l'école 6<br>
  <strong class="i18n" data-fr="Titre" data-en="Title">Titre</strong>: Titre de la présentation 6
</p>
<p class="text-left">
  Résumé de la présentation 6.
</p>

<!-- Abstract 7 -->
<h6>Nom du présentateur 7</h6>
<p>
  <strong class="i18n" data-fr="École" data-en="School">École</strong>: Nom de l'école 7<br>
  <strong class="i18n" data-fr="Titre" data-en="Title">Titre</strong>: Titre de la présentation 7
</p>
<p class="text-left">
  Résumé de la présentation 7.
</p>
