<div class="card">
  <div class="card-header text-white bg-inverse">
    <i class="fa fa-calendar-o mr-3" aria-hidden="true"></i>
    <strong class="i18n" data-fr="Dates importantes" data-en="Important Dates">Dates importantes</strong>
  </div>

  <div class="card-block bg-faded">
    <ul class="list-group list-group-flush">
      {% if site.data.conference.deadlines %}
        {% for deadline in site.data.conference.deadlines %}
          <li class="list-group-item bg-faded text-muted">
            {% if deadline.pass_due %}<del>{% endif %}

            <p>
              {% if deadline.text.fr or deadline.text.en %}
                <strong>
                  <span class="i18n"
                        data-fr="{{ deadline.text.fr | escape }}"
                        data-en="{{ deadline.text.en | default: deadline.text.fr | escape }}">
                    {{ deadline.text.fr | escape }}
                  </span><span class="i18n"
                        data-fr="&nbsp;:"
                        data-en=":"> :</span>
                </strong>
              {% else %}
                <strong>{{ deadline.text }}:</strong>
              {% endif %}

              {% assign month = deadline.date | date: "%-m" %}

              <span class="i18n"
                    data-fr="{{ deadline.date | date: "%e" }} {% case month %}
                      {% when '1' %}janvier
                      {% when '2' %}février
                      {% when '3' %}mars
                      {% when '4' %}avril
                      {% when '5' %}mai
                      {% when '6' %}juin
                      {% when '7' %}juillet
                      {% when '8' %}août
                      {% when '9' %}septembre
                      {% when '10' %}octobre
                      {% when '11' %}novembre
                      {% when '12' %}décembre
                    {% endcase %} {{ deadline.date | date: "%Y." }}"
                    data-en="{{ deadline.date | date: "%B %e, %Y." }}">
                {{ deadline.date | date: "%B %e, %Y." }}
              </span>
              {% if deadline.timezone %} ({{ deadline.timezone }}){% endif %}
            </p>

            {% if deadline.pass_due %}</del>{% endif %}
          </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item bg-faded text-muted i18n"
            data-fr="À venir"
            data-en="TBA">À venir</li>
      {% endif %}
    </ul>
  </div>
</div>
