<h5 class="i18n" data-fr="Contact" data-en="Contact Us">Contact</h5>

<p class="text-left">
  <span class="i18n"
        data-fr="Pour toutes questions concernant l'événement, contactez"
        data-en="For any questions regarding the event, contact">
  </span>
  
  <a href="mailto:{{ site.data.conference.email_Maurin }}">
    <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
    {{ site.data.conference.email_Maurin }}
  </a>
</p>

<p class="text-left">
  <span class="i18n"
        data-fr="Pour tous problèmes avec la page web, contactez"
        data-en="For any problems with the web page, contact">
  </span>
  
  <a href="mailto:{{ site.data.conference.email_Xavier }}">
    <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
    {{ site.data.conference.email_Xavier }}
  </a>
</p>

